* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #ffffff;   
}
/*Container principal*/
#container-header {
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: row;
    max-width: 100%;
    
}

/*Container do menu e logo do youtube a esquerda*/

.container-menu{
    
    height: 1.5rem;
    display: flex;
    
}

.img-logo {
    max-width: 100%;
    height: 1.25rem;

}

.icon-menu{
    max-width: 100%;
    height: 1.5rem;
    padding-right: 1rem;
}

/*Container do input*/

.container-input{
    display: flex;
    align-items: center;
    border: 1px solid ;
    border-radius: 15px ;   
    padding: 0 0.5rem 0 0.5rem;    
}    
   
.input{
    max-width: 100%;
    height:1.5rem;
    border: none;
    background-color: transparent;
    
}

.icon-lupa{
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
    width: 2rem;
    height: 1.7rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
           
}

/*Container dos icones da direita*/

.container-user{
    max-width: 100%;
    height: 1.5rem;
    padding-right: 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 2rem;
}

.icon-pip{
    width: 1rem;
    height: 1rem;

}

.icon-bel{
    width: 1rem;
    height: 1rem;
}

.icon-user{
    width: 2.12rem;
    height: 2.12rem;
}



.container-main {
    max-width: 100%;  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
}
/*Video*/

#container-video{
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;
     margin-left: 3rem;
    gap: 1rem;
    max-width: 100%;
    height: 46.6rem;
}
.video{
    max-width: 100%;
}

h1{
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 100%;       
}
.action-video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    max-width: 100%;
    height:2.3rem;
    gap: 2.62rem;
    cursor:pointer
}

#container-video p{
    font-family: Roboto;
    font-size: 0.87rem;
    font-weight: 400;    
    margin: 0;
}

.descricao{
    max-width: 100%;
    height: 4rem;
    font-family: Roboto;
    font-size: 0.87rem;
    font-weight: 400;
    color: #414040;   
}

.mais-infos{
    color: #00008b;
    font-weight: bold;
}

.mais-infos:hover{
    text-decoration: underline;
    cursor: pointer;    
}
.sidebar {
    display: flex;
    flex-direction: column;
    flex-flow:column;
    align-items: flex-end;
    width: 350px;
    margin-top: 4rem;
    
}

.sidebar li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}


.sidebar li h2{
    font-family: Roboto;
    font-size: 0.87rem;
    font-weight: 600;    
}

.sidebar li h2:hover{
    text-decoration: underline;
}

.sidebar li p {
    font-family: Roboto;
    font-size: 0.75rem;
    font-weight: 400;
    color: #515151;
}

/*Responsividade*/

@media (max-width: 900px) {
    .container-main {
        display: flex;
        flex-direction: column;
        align-items: center;  
        margin: 0;
        margin-top: 2rem;
        padding: 0;
        

           
    }
    .sidebar {
        width: 100%;
        margin-right: 6rem;
        margin-top: 3rem;
        padding: 0; 
        gap: 1rem;
        display: flex;
        align-items:flex-start; 
        justify-content:flex-start;
        
    }
    #container-video {
        height: auto;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .action-video{
        height: auto;
    }
}